[Unit]
Description=Stremio MEGA Proxy
After=network.target

[Service]
Type=simple
WorkingDirectory=.../smp
EnvironmentFile=.../smp/.env
ExecStart=.../bin/node src/index.js
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
